
	h1{
	font-family: barlow condensed,Arial,Verdana,sans-serif;
	
	
	}
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    h1 {
      color: #333;
      text-align: center;
	  margin-top:80px;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
      background-color:#f8f8ff;
      padding: 20px;
      border-radius: 5px;
	  border:1px solid black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);	
    }

    label {
      display: block;
      margin-bottom: 10px;
      color: #333;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    textarea {
      height: 100px;
    }

    input[type="submit"] {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #555;
    }
	
nav{text-align:right;}
nav{
  font-family: barlow condensed;
  padding-bottom:5px;
  margin-top:25px;
  padding-right:10px;
}
ul {
  list-style-type: none;
  padding-right: 5px;
  background-color:white;
  margin-top:-95px;
  font-size:20px;
}
li {
  float:right;
}

li a{
	font-style:italic;
  color: black;
  padding:0px 14px 0px;
  text-decoration: none;
  font-weight:bold;
  font-size:25px;
  cursor:pointer;
}
li a:hover{
	background-color:#f8f8ff;
	border-radius:10px;
}
header{
	padding-left:10px;
}
footer {
    margin-top:20px;
    color:Black;
    padding: 20px;
	text-align:left;
	font-size:15px;
	font-weight:700;
		font-family: barlow condensed,Arial,Verdana,sans-serif;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
	margin-left:0px;
}
.dropbtn {
  text-decoration: none;
    color:rgb(66, 132, 190)
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #white;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
    margin-left:3px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white;}